{% extends 'admin_layout.html' %}
{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">

            <h1>Hello admin analysis</h1>





        </div>
    </div>
{% endblock %}
{% block exrta_js %}

{% endblock %}
