{% extends 'admin_layout.html' %}
{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Users Table</h2>
                    <form style="margin: 10px" action="{{ url_for('site.create_user') }}" method="post">
                        <button type="submit" class="btn btn-primary btn-lg">사용자 생성하기</button>
                    </form>


                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead align="center">
                            <tr>
                                <th><input type="checkbox" id="checkall"/></th>
                                <th>사용자 이름</th>
                                <th>메일</th>
                                <th>상태</th>
                                <th>수정</th>
                                <th>삭제</th>
                                <th>보기</th>
                            </tr>
                            </thead>
                            <tbody id="user_table">
                            {% for u in users %}
                                <tr>
                                    <td align="center"><input type="checkbox" class="checkthis"/></td>

                                    <td align="center">
                                        {{ u.username }}
                                    </td>
                                    <td align="center">
                                        {{ u.email }}
                                    </td>
                                    <td align="center">
                                        {{ u.isAdmin }}
                                    </td>

                                    <td align="center">
                                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                                    onclick="editUser('{{ u.id }}')"
                                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </p>
                                    </td>
                                    <td align="center">
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <button class="delete btn btn-danger btn-xs" data-id="{{ u.id }}"
                                                    data-title="Delete"
                                                    value="{{ u.username }}"
                                                    data-toggle="modal"
                                                    data-target="#delete"><span
                                                    class="glyphicon glyphicon-trash"></span></button>
                                        </p>
                                    </td>
                                    <td align="center">
                                        <p data-placement="top" data-toggle="tooltip" title="View">
                                            <button class="btn btn-primary btn-xs" data-title="View" data-toggle="modal"
                                                    onclick="viewUser('{{ u.id }}')"
                                                    data-target="#edit"><span
                                                    class="glyphicon glyphicon-eye-open"></span>
                                            </button>
                                        </p>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="modal fade" id="delete" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete User</h4>
                            </div>
                            <div class="modal-body">
                                Do you really want to delete : <b><span id="user_desc"></span></b>
                                <input type="text" name="userId" id="userId" value="" style="visibility: hidden"/>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ url_for('site.admin_users') }}" method="get">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" id="deleteBtn" class="btn btn-default" onclick="deleteUser()"/>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>

    {% block extra_js %}
        <script type="text/javascript">
            $(document).on("click", ".delete", function () {
                var id = $(this).data('id');
                var a = $(this).val();
                $(".modal-body #userId").val(id);
                $(".modal-body #user_desc").text("")
                $(".modal-body #user_desc").text(a)
                // As pointed out in comments,
                // it is superfluous to have to manually call the modal.
                // $('#addBookDialog').modal('show');
            });


            function editUser(id) {
                window.location = 'user?id=' + id;
            }

            function deleteUser() {
                id = $(".modal-body #userId").val()
                $.ajax({
                    url: 'user?id=' + id,
                    type: 'DELETE',
                    succuess: function (response) {

                    }
                })
            }
            function viewUser(id) {
                window.location = 'admin_user_view?id=' + id;
            }

        </script>


    {% endblock %}
{% endblock %}