{% extends 'admin_layout.html' %}
{% block content %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div id="wrapper">
        <div id="page-wrapper">
            <div id="main" class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="margin: 60px;">

                        <div class="col-md-3 w3-card">
                            <h3 class="l_time">Last update time: <span class="time"></span></h3><br>
                            <h6 align="center">Current place: {{ location.road_address }} , {{ location.address }}
                                , {{ location.postal_code }}</h6>
                            <h6>Username: {{ user.username }}</h6>
                            <h6>User email: {{ user.email }}</h6>
                            <h6>Created date: {{ user.created_on }}</h6>
                            <h4 align="center">Current Condition on the road</h4>
                            <h6 id="temp_road">Temperature: <span id="temp"></span> &deg;C</h6>
                            <h6 id="hum_road">Humidity: <span id="hum"></span> %</h6>
                            <h6 id="wind_road">Wind_speed: <span id="wind"></span> m/s</h6>
                            <h6 id="date_road">Date: <span id="date"></span></h6>
                        </div>

                        <div class="col-md-1"></div>
                        <div id="camera_background" class="col-md-8 bg-grey" style=" width: 60%; height: 500px; ;
                background-size: cover;">

                            <div id="ip_camera" align="center">
                                <h3 align="center" style="text-align: center">Camera</h3>
                            </div>
                            <img style=" width: 100%; height: 500px;" src="http://210.119.146.199:8081">
                        </div>
                    </div>
                </div>
            </div>
            <div id="google_map">
                <input type="hidden" id="latitude" value="{{ location.getSensorNode(location.id).latitude }}">
                <input type="hidden" id="longitude" value="{{ location.getSensorNode(location.id).longitude }}">
                <h2 style="margin-left: 40px;">Map</h2><br>
                <div id="map" style="height:400px;width:100%;"></div>
            </div>
        </div>

        <input id="sensor_node_id" value="{{ sensor_node.id }}" type="hidden">
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/user_dashboard_load_data.js' ) }}"></script>
<<<<<<< HEAD
    {#    <script src="{{ url_for('static',filename='js/admin_profile.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>#}
=======
    <script src="{{ url_for('static',filename='js/admin_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
>>>>>>> parent of d511c4a... Merge branch 'ahata_new' of https://bitbucket.org/nizomjon_hajiev/weather_station
    <script src="{{ url_for('static', filename='js/mqtt.js') }}"></script>
    <script src="{{ url_for('static',filename='js/user_attr_insert.js') }}"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3481f3e6a8897c03f023261045c0d301"></script>
    <script src="{{ url_for('static',filename='js/locations.js') }}"></script>
    <script src="{{ url_for('static',filename='js/admin_user_view.js') }}"></script>

    <script>
        var latitude = $('#latitude').val();
        var longitude = $('#longitude').val();
        var container = document.getElementById('map');
        var options = {
            center: new daum.maps.LatLng(latitude, longitude),
            level: 3,

        };

        var map = new daum.maps.Map(container, options);
        console.log(longitude)
        var marker = new daum.maps.Marker({
            position: map.getCenter()
        });

        marker.setMap(map);

        console.log("Map")
    </script>

    <script>

        var sensor_node_id = $('#sensor_node_id').val();
        var update_sensor_data = function () {
            $.ajax({
                url: '/api/v1/sensor_models/' + sensor_node_id + '/',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
            }).success(function (response) {
                console.log(response);
                console.log(response.data);
                $('#temp').html(response.temperature)
                $('#hum').html(response.humidity)
                $('#wind').html(response.wind_speed)
                $('#date').html(response.created_on)

            }).fail(function () {
                manage_message(false)
            })
        };

        setInterval(update_sensor_data, 5000)

    </script>

{% endblock %}