{% extends "admin_layout.html" %}
{% block sidebar %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="{{ url_for('site.index') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="selected">
                <a href="{{ url_for('site.admin_users') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Users</a>
            </li>
            <li>
                <a href="{{ url_for('site.admin_locations') }}"><i class="fa fa-fw fa-table"></i>Locations</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i
                        class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">

            <form style="padding: 50px" id="user_details" action="{{ url_for('site.admin') }}" method="post">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" style="width: 400px" id="username"
                           placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" style="width: 400px" id="email"
                           placeholder="Email" required
                    >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id name="password" class="form-control" style="width: 400px" id="password"
                           placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="user_role">User Role</label>
                    <select class="form-control" id="user_role" style="width: 400px" name="user_role">
                        <option>Super User</option>
                        <option>General User</option>

                    </select>
                </div>


                <!-- Locations -->
                <div id="addresses" class="form-group">


                </div>

                <button type="button" id="add_address" style="margin: 10px" class="btn btn-info" onClick="addAddress()"
                        value="+">Add Location
                </button>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </div>
    {% block extra_js %}
        <script src="{{ url_for('static',filename='js/test.js') }}"></script>
        <script>
            var i = 0;
            function addAddress() {
                if (i < 2) {
                    i++;
                    var div = document.createElement('div');
                    div.setAttribute('id', "address_" + i)
                    div.innerHTML = '<label>Address ' + i + ' </label><input type="text" class="form-control" style="width:400px" name="address_' + i + '" >  <button type="button" style="margin: 10px" id="add_sensor_' + i + '" class="btn btn-info" onClick="addSensorNode()" >Add sensor</button>   <button type="button" class="btn btn-danger" style="margin: 10px" onclick="removeAddress(this)">Remove address</button>';

                    document.getElementById('addresses').appendChild(div);
                    // if (i>3) {
                    // document.getElementById('add_address').style.visibility='hidden'
                    // }
                }
            }

            function removeAddress(div) {
                document.getElementById('addresses').removeChild(div.parentNode);
                i--;

            }


            var j = 0;
            function addSensorNode() {
                if (j < 4) {
                    j++;
                    var div = document.createElement('div');
                    div.className = "panel panel-warning"
                    div.style.margin = 30 + "px"
                    div.style.width = 450 + "px"
                    div.setAttribute('id', "sensor_" + j)
                    // div.style.background='yellow'
                    div.innerHTML = '<div class="panel-heading">Sensor Node ' + j + '</div>' +
                        '<div class="panel-body"><label>Latitide</label> ' +
                        '<input type="text" class="form-control" style = "width:400px" name = "latitude_' + j + '">' +
                        '<label>Longitude</label>' +
                        '<input type="text" class="form-control" style = "width:400px" name = "longitude_' + j + '">' +
                        '<button type="button" class="btn btn-primary" style="margin: 10px" onclick="addSensor(this)">Add sensor_' + j + '</button>' +
                        '<button type="button" class="btn btn-danger" style="margin: 10px" onclick="removeSensor(this)">Remove sensor_' + j + '</button>' +
                        '</div>'

                    document.getElementById('addresses').children[0].appendChild(div)

                }
            }
            function removeSensor(div) {
                var sensor = document.getElementById('addresses').children[0].children['sensor_' + j];
                sensor.parentNode.removeChild(sensor)
                j--;
            }

            var k = 0;
            function addSensor() {
                if (k < 4) {
                    k++;
                    var div = document.createElement('div');
                    div.className = "panel panel-success";
                    div.style.margin = 40 + "px";
                    div.style.width = 450 + "px";
                    div.setAttribute('id', "sensor_" + k)
                    // div.style.background='yellow'
                    div.innerHTML = '<div class="panel-heading">Senosor ' + k + '</div><div class="panel-body"><label>Type</label><select class="form-control" id="type_' + k + '"><option>temperature</option><option>humidity</option><option>pressure</option><option>wind_speed</option></select><button type="button" class="btn btn-danger" style="margin: 10px" onclick="removeSensor(this)">Remove sensor_' + k + '</button></div>';
                    document.getElementById('addresses').children[0].appendChild(div)

                }
            }
            function removeSensor(div) {
                var sensor = document.getElementById('addresses').children[0].children['sensor_' + k];
                sensor.parentNode.removeChild(sensor)
                k--;
            }

        </script>
    {% endblock %}
{% endblock %}