{% extends "admin_layout.html" %}
{% block sidebar %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="{{ url_for('site.index') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="selected">
                <a href="{{ url_for('site.admin_users') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Users</a>
            </li>
            <li>
                <a href="{{ url_for('site.admin_locations') }}"><i class="fa fa-fw fa-table"></i>Locations</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i
                        class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">

            <form style="padding: 50px" id="user_details" action="{{ url_for('site.user') }}" method="post">
                <input id="user_id" name="user_id" type="text" style="visibility: hidden" value="{{ user.id }}">
                <div class="form-group">
                    <label for="username">사용자 이름</label>
                    <input type="text" class="form-control" name="username" style="width: 400px" id="username"
                           placeholder="사용자 이름" value="{{ user.username }}" required>
                </div>
                <div class="form-group">
                    <label for="email">메일 주소</label>
                    <input type="email" class="form-control" name="email" style="width: 400px" id="email"
                           placeholder="메일" value="{{ user.email }}" required
                    >
                </div>
                <div class="form-group">
                    <label for="password">패스워드</label>
                    <input type="password" id name="password" class="form-control" style="width: 400px" id="password"
                           placeholder="패스워드" value="{{ user.password }}" required>
                </div>
                <div class="form-group">
                    <label for="user_role">사용자 타입</label>
                    <select class="form-control" id="user_role" style="width: 400px" name="user_role">
                        {% if user.isAdmin %}
                            <option selected="selected">수퍼 사용자</option>
                            <option>일반 사용자</option>
                        {% else %}
                            <option selected="selected">일반 사용자</option>
                            <option>수퍼 사용자</option>
                        {% endif %}

                    </select>
                </div>

                <div class="form-group">
                    <label>Location</label>
                    <input type="text" id="sample4_postcode" value="{{ location.postal_code }}" name="sample4_postcode"
                           placeholder="우편번호">
                    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" id="sample4_roadAddress" value="{{ location.road_address }}"
                           name="sample4_roadAddress" placeholder="도로명주소">
                    <input type="text" id="sample4_jibunAddress" value="{{ location.address }}"
                           name="sample4_jibunAddress" placeholder="지번주소">
                    <span id="guide" style="color:#999"></span>
                </div>

                <div id="map" style="width:100%;height:450px;"></div>
                <p id="map_message"><em>지도를 클릭해주세요!</em></p>
                <div id="clickLatlng"></div>

                <div class="form-group">
                    <label for="location">센서 노드 좌</label>
                    <div class="row">
                        <div class="col-md-4">

                            <input type="text" name="latitude" class="form-control" style="width: 400px" id="latitude"
                                   placeholder="위" value="{{ sensor_node.latitude }}" required>
                        </div>
                        <div class="col-md-4">

                            <input type="text" name="longitude" class="form-control" style="width: 400px" id="longitude"
                                   placeholder="경도" value="{{ sensor_node.longitude }}" required>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <input type="text" name="sensor_node_unique_id" class="form-control" style="width: 400px"
                               id="sensor_node_unique_id"
                               value="{{ sensor_node.node_unique_id }}"
                               placeholder="노드 아이디" required>
                    </div>

                    <div class="col-md-4">

                        <button type="button" class="btn btn-success btn-large" id="load"
                                data-loading-text="<i class='fa fa-spinner fa-spin '></i>">&emsp;발생&emsp;
                        </button>
                    </div>

                </div>
                <button type="submit" class="btn btn-success">최신 정보</button>


            </form>

        </div>


    </div>
    </div>
    {% block extra_js %}
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery-locationpicker/dist/locationpicker.jquery.js') }}"></script>
        <script src="//apis.daum.net/maps/maps3.js?apikey=96bd7b8da76ff4d0354958b242f468e2&libraries=services"></script>
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
        <script src="{{ url_for('static',filename='js/user_create.js') }}"></script>

    {% endblock %}
{% endblock %}