<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/morris.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>

    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular/angular-cookies.min.js') }}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('site.admin') }}">SM 관리자</a>
    </div>
    <!-- Top Menu Items -->

    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
                    class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                {% for fadeback in fadebacks %}
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>{{ fadeback.name }}</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> 어제
                                        at {{ fadeback.created_at }}
                                    </p>
                                    <p>{{ fadeback.message }}</p>
                                    <button
                                            data-toggle="modal"
                                            href="#reply"
                                            data-feed_email="{{ fadeback.email }}"
                                            data-feed_owner="{{ fadeback.name }}"
                                            type="button"
                                            data-feed_id='{{ fadeback.id }}'
                                            class="reply btn btn-primary">대답
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                <li class="message-footer">
                    <a href="#">모든 새로운 메시지</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a id="user_name" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <span class="txt">{{ session['username'] }}</span>
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ url_for('site.admin_profile') }}"><i class="fa fa-fw fa-user"></i>계정</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i>설정</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ url_for('site.logout') }}"><i class="fa fa-fw fa-power-off"></i>로그아웃</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li id="side_dashboard">
                <a href="{{ url_for('site.admin') }}"><i class="fa fa-fw fa-dashboard"></i> 데시보드</a>
            </li>
            <li id="side_users">
                <a href="{{ url_for('site.admin_users') }}"><i class="fa fa-fw fa-users"></i> 사용자들</a>
            </li>
            <li id="side_locations">
                <a href="{{ url_for('site.admin_locations',q='all') }}"><i class="fa fa-fw fa-map-marker"></i>위치들</a>
            </li>
            {#            <li>#}
            {#                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i#}
            {#                        class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>#}
            {#                <ul id="demo" class="collapse">#}
            {#                    <li>#}
            {#                        <a href="#">Dropdown Item</a>#}
            {#                    </li>#}
            {#                    <li>#}
            {#                        <a href="#">Dropdown Item</a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>#}
            {#            </li>#}
            <li id="side_analysis">
                <a href="{{ url_for('site.messages') }}"><i class="fa fa-envelope"></i> 메시지</a>
            </li>
        </ul>
    </div>

    <!-- /.navbar-collapse -->
</nav>

<div class="modal fade" id="reply" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">스노우 멜팅</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="feedEmail">이메일</label>
                    <input type="text" class="form-control" name="feedEmail" id="feedEmail" value=""/>
                </div>
                <div class="form-group">
                    <label for="feedOwner">주인</label>
                    <input type="text" class="form-control" name="feedOwner" id="feedOwner" value=""/>
                </div>
                <div class="form-group ">
                    <label for="message" class="sr-only">메시지</label>
                    <textarea name="feed_response" id="feed_response" cols="30" rows="5" class="form-control"
                              placeholder="Message*"></textarea>
                </div>
                <input type="hidden" name="feedId" id="feedId" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <input type="button" id="replyBtn" class="btn btn-success" value="Send"/>
            </div>
        </div>
    </div>
</div>

{% block content %} {% endblock %}


<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
<script src="{{ url_for('static',filename='js/models.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/morris/raphael.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/morris/morris.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/morris/morris-data.js') }}"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=96bd7b8da76ff4d0354958b242f468e2&libraries=services"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

{% block extra_js %}{% endblock %}

</body>
</html>