{% extends 'admin_layout.html' %}
{% block extra_head %}

{% endblock %}
{% block content %}
    <div id="wrapper" ng-app="admin">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Locations Table</h2>
                    <div class="table-responsive" ng-controller="messageController" ng-init="get_list_feedback()">
                        <table class="table table-bordered table-hover table-striped">
                            <thead align="center">
                            <tr>
                                <th><h5 align="center"><b>주소</b></h5></th>
                                <th><h5 align="center"><b>사용자</b></h5></th>
                                <th><h5 align="center"><b>상태</b></h5></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locations %}
                                <tr>
                                    <td align="center" valign="center">
                                        {{ location.address }}
                                    </td>
                                    <td align="center" valign="center">
                                        {{ location.postal_code }}
                                    </td>
                                    <td align="center" valign="center">
                                        {{ location.road_address }}
                                    </td>
                                    <td align="center" valign="center">
                                        {{ location.getOwner(location.owner_id).username }}
                                    </td>
                                    <td align="center">
                                        <p data-placement="top" data-toggle="tooltip" title="View">
                                            <input type="hidden" id="latitude"
                                                   value="{{ location.getSensorNode(location.id).latitude }}"
                                                   name="latitude"/>
                                            <input type="hidden" id="longitude"
                                                   value="{{ location.getSensorNode(location.id).longitude }}"
                                                   name="longitude"/>
                                            <button type="submit"
                                                    onclick="show_map({{ location.getSensorNode(location.id).latitude }},{{ location.getSensorNode(location.id).longitude }})"
                                                    class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-map-marker"></span>Map
                                            </button>
                                        </p>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="modal fade" id="delete" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete User</h4>
                            </div>
                            <div class="modal-body">
                                Do you really want to delete : <b><span id="user_desc"></span></b>
                                <input type="text" name="userId" id="userId" value="" style="visibility: hidden"/>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ url_for('site.admin') }}" method="get">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" id="deleteBtn" class="btn btn-default" onclick="deleteUser()"/>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


            <div id="map" style="width:100%;height:500px;"></div>
        </div>

    </div>
    {% block extra_js %}

        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3481f3e6a8897c03f023261045c0d301"></script>
        <script src="{{ url_for('static',filename='js/admin_messages.js') }}"></script>

    {% endblock %}

{% endblock %}
