{% extends "admin_layout.html" %}
{% block content %}
    <div id="wrapper" >
        <div id="page-wrapper"  style="background: #f1f3fa;">
            <div class="row">
                <div class="col-md-10 col-lg-offset-0">
                    <div id="profile" class=" col-lg-4 col-md-6" style="margin: 50px 20px 200px 20px; border-radius: 10px;  background-color: #ffffff;">
                        <h2 style="margin: 15px 0 0 0;" align="center">{{ user.username }}</h2><br>
                        <h3 style=" margin: 25px 20px 0px 20px;" >
                            <i style="color: #337AB7;" class="glyphicon glyphicon-envelope"></i>
                            <span>{{ user.email }}</span>
                        </h3>
                        <h3 style=" margin: 25px 20px 0px 20px;">
                            <i style="color: #337ab7;" class="glyphicon glyphicon-user"></i>
                            {% if user.isAdmin %}
                                Admin
                            {% else %}
                                General
                            {% endif %}
                        </h3>
                        <h3 style=" margin: 25px 20px 0px 20px;">
                            <i style="color: #337ab7;" class="glyphicon glyphicon-time"></i>
                            {% if user.created_at is not none %}
                                {{ user.created_at }}
                            {% else %}
                                ....
                            {% endif %}
                        </h3>
                    <input id="user_id" value="{{ user.id }}" type="hidden">
                        <button style="margin: 25px 0 10px 20px;" id="editBtn" onclick="editBtn()" type="button" class="btn btn-primary">
                                Edit
                            </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/admin_profile.js') }}"></script>

{% endblock %}