{% extends "admin_layout.html" %}

{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">
            <input id="user_view" value="{{ user_view }}" type="hidden">
            <input id="location_id" value="{{ location_id }}" type="hidden">
            <input id="user_id" value="{{ user_id }}" type="hidden">

            <div class="row" style="margin-left: 10px">
                <div class="col-md-6">
                    <div class="row">
                        <div>
                            <h4>Average Temperature</h4>
                            <canvas id="temp_chart" width="500" height="270"></canvas>
                        </div>

                        <div>
                            <h4>Average Humidity</h4>
                            <canvas id="hum_chart" width="500" height="270"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div id="map" style="width: 100%; height: 600px; margin-top: 10px; "></div>
                    <div id="legend"><h3>Legend</h3></div>
                </div>

            </div>

            <div class="modal fade" id="fix" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Snow Melting</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group ">
                                <label for="message" class="sr-only">Message</label>
                                <textarea name="feed_message" id="feed_message" cols="30" rows="5"
                                          class="form-control"
                                          placeholder="Message*"></textarea>
                            </div>
                            <input type="hidden" name="feedId" id="feedId" value=""/>
                        </div>
                        <div class="modal-footer">
                            <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="button" id="replyBtn" onclick="sensor_fix_btn()" class="btn btn-success" value="Send"/>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA"
            type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/marker.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/location_chart.js') }}"></script>

{% endblock %}