{% extends 'admin_layout.html' %}

{% block content %}

    <div id="wrapper">
        <div id="page-wrapper">
            <h2>User <b>{{ user.username }}</b></h2>
            <form style="padding: 50px" id="user_details" action="{{ url_for('api.user_update') }}" method="post">
                <input type="hidden" name="id" value="{{ user.id }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" style="width: 400px" id="username"
                           placeholder="Username" value={{ user.username }}>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" style="width: 400px" id="email"
                           placeholder="Email"
                           value={{ user.email }}>
                </div>

                <div class="form-group">
                    <label for="user_role">User Role</label>
                    <select class="form-control" id="user_role" style="width: 400px" name="user_role">
                        {% if user.isAdmin %}
                            <option selected="selected">Super User</option>
                            <option>General User</option>
                        {% else %}
                            <option selected="selected">General User</option>
                            <option>Super User</option>
                        {% endif %}

                    </select>
                </div>
                {% if user.locations.count()>0 %}
                    {% for location in user.locations %}
                        {% if  loop.last %}
                            <input id="location_count" value="{{ loop.index }}" type="hidden">
                        {% endif %}
                        <div id="addresses">
                            <div id="address_{{ loop.index }}">
                                <label>Address {{ loop.index }} </label>
                                <input id="address_{{ loop.index }}" type="text" class="form-control"
                                       style="width:400px"
                                       value="{{ location.address }}"
                                       name="address_{{ loop.index }}">
                                {% for sensor_node in location.sensor_nodes %}
                                    {% if  loop.last %}
                                        <input id="sensor_count" value="{{ loop.index }}" type="hidden">
                                    {% endif %}

                                    <div style="margin-top: 30px;" id="sensor_node_{{ loop.index }}">
                                        <div class="panel-group" id="accordion" role="tablist"
                                             aria-multiselectable="false">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading_{{ loop.index }}">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapse_{{ loop.index }}"
                                                           aria-expanded="false"
                                                           aria-controls="collapse_{{ loop.index }}">
                                                            Sensor Node {{ loop.index }}
                                                        </a>
                                                    </h4>


                                                </div>
                                                <div id="collapse_{{ loop.index }}" class="panel-collapse collapse in"
                                                     role="tabpanel" aria-labelledby="heading_{{ loop.index }}">
                                                    <div class="panel-body">
                                                        <div id="form-inline" class="form-inline">
                                                            <div id="made_sensors_node_{{ loop.index }}">
                                                                {% for sensor in sensor_node.sensors %}
                                                                    <div id="sensor_{{ loop.index }}"
                                                                         class="for-sensors">
                                                                        <h4>Sensor: <span>{{ loop.index }}</span></h4>

                                                                        &nbsp;&nbsp;<label
                                                                            for="exampleInputEmail2">Type</label>
                                                                        <input type="text"
                                                                               value="{{ sensor.get_sensor_type(sensor.sensor_type) }}"
                                                                               class="form-control"
                                                                               id="exampleInputEmail2"
                                                                               placeholder="Type" disabled>

                                                                    </div>
                                                                {% endfor %}
                                                            </div>


                                                        </div>

                                                    </div>

                                                </div>


                                            </div>


                                        </div>


                                    </div>





                                {% endfor %}
                            </div>


                        </div>

                    {% endfor %}

                {% endif %}

                <button type="submit" class="btn btn-success" value="{{ user.id }}">Update</button>
            </form>


        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/user_detail.js') }}"></script>
{% endblock %}