{% extends "layout.html" %}

{% block content %}
    <form style="margin: 10px" action="{{ url_for('site.create_user') }}" method="post">
        <button type="submit" class="btn btn-primary btn-lg">Create User</button>
    </form>

    <div class="panel panel-default" style="margin: 10px">
        <!-- Default panel contents -->
        <div class="panel-heading">Users</div>
        <!-- Table -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" id="checkall"/></th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody id="user_table">
            {% for u in user_list %}
                <tr>
                    <td><input type="checkbox" class="checkthis"/></td>

                    <td>
                        {{ u.username }}
                    </td>
                    <td>
                        {{ u.email }}
                    </td>
                    <td>
                        {{ u.isAdmin }}
                    </td>
                    <td>
                        {{ u.username }}
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    onclick="editUser('{{ u.id }}')"
                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        </p>
                    </td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                            <button class="delete btn btn-danger btn-xs" data-id="{{ u.id }}" data-title="Delete"
                                    value="{{ u.username }}"
                                    data-toggle="modal"
                                    data-target="#delete"><s`pan
                                    class="glyphicon glyphicon-trash"></span></button>
                        </p>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>

        <div class="modal fade" id="delete" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete User</h4>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete : <b><span id="user_desc"></span></b>
                        <input type="text" name="userId" id="userId" value="" style="visibility: hidden"/>
                    </div>
                    <div class="modal-footer">
                        <form action="{{ url_for('site.admin') }}" method="get">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" id="deleteBtn" class="btn btn-default" onclick="deleteUser()"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript">

        $(document).on("click", ".delete", function () {
            var id = $(this).data('id');
            var a = $(this).val();
            $(".modal-body #userId").val(id);
            $(".modal-body #user_desc").text("")
            $(".modal-body #user_desc").text(a)
            // As pointed out in comments,
            // it is superfluous to have to manually call the modal.
            // $('#addBookDialog').modal('show');
        });


        function editUser(id) {
            window.location = 'user?id=' + id;
        }

        function deleteUser() {
            id = $(".modal-body #userId").val()
            $.ajax({
                url: 'user?id=' + id,
                type: 'DELETE',
                succuess: function (response) {

                }
            })
        }

    </script>
{% endblock %}
