<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Snow Melting &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
        <meta name="keywords"
              content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
        <meta name="author" content="FREEHTML5.CO"/>
        <link rel="shortcut icon" href="favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
              type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" id="theme-switch" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.easing.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.countTo.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/magnific-popup.option.js') }}"></script>
        <script src="{{ url_for('static',filename='js/google_map.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.style.switcher.js') }}"></script>
        <script src="{{ url_for('static',filename='js/main.js') }}"></script>

        <title> {% block title %} {% endblock %} - Snow Melting</title>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}

        <header role="banner" id="fh5co-header">
            <div class="container">
                <!-- <div class="row"> -->
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <!-- Mobile Toggle Menu Button -->
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse"
                           data-target="#navbar"
                           aria-expanded="false" aria-controls="navbar"><i></i></a>
                        <a class="navbar-brand" href="index.html">Snow Melting</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                            <li><a href="#" data-nav-section="services"><span>Services</span></a></li>
                            <li><a href="#" data-nav-section="about"><span>About</span></a></li>
                            <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
                        </ul>
                    </div>
                </nav>
                <!-- </div> -->
            </div>
        </header>

    {% endblock %}

</div>
<div id="content">{% block content %} {% endblock %}</div>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>