{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block content %}
    <section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);"
             data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="to-animate">We will make clean your road</h1>
                            <h2 class="to-animate">Feel free yourself and connect with us <a
                                    href="http://#/"
                                    target="_blank"></a>
                                released under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">UdbLab
                                    </a></h2>
                            <p><a href="login.html" class="btn btn-primary" style="margin-top: 20px">Get Started</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slant"></div>
    </section>

{% endblock %}
{% block footer %}
    <footer id="footer" role="contentinfo">
        <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
        <div class="container">
            <div class="">
                <div class="col-md-12 text-center">
                    <p>&copy; Elate Free HTML5. All Rights Reserved. <br>Created by <a href="http://freehtml5.co/"
                                                                                       target="_blank">FREEHTML5.co</a>
                        Images: <a href="http://pexels.com/" target="_blank">Pexels</a>, <a href="http://plmd.me/"
                                                                                            target="_blank">plmd.me</a>
                    </p>

                </div>
            </div>

        </div>
    </footer>

{% endblock %}