<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Snow Melting &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" id="theme-switch" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA"
            type="text/javascript"></script>
    <!-- End demo purposes only -->


    <!-- Modernizr JS -->
    <script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>

</head>
<body style="background-color: #dbdbdb;">
<header>
    <div>
        <!-- <div class="row"> -->
        <nav class="navbar navbar-primary" style="background-color: #fff;">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar"
                   aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href=""><span style="margin-left: 150px; Font-family: Arial; font-size: 30px; ">
                    <b>Snow Melting</b></span></a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span>Name: <span id=""></span>{{ user.username }}</span></a></li>
                    <li>
                        <div class="btn-group" data-toggle="buttons" style="margin-top: 5px; margin-right: 15px; ">
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option" autocomplete="off"> Off
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option1" autocomplete="off"> On
                            </label>
                        </div>
                    </li>
                    <li>
                        <button type="button" style="margin-top: 5px; margin-right: 10px;  " class="btn btn-primary"
                                data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-log-out">Logout</i>
                        </button>
                    </li>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Logout</h4>
                                </div>
                                <div class="modal-body">
                                    Do you really want to log out from this page
                                </div>
                                <div class="modal-footer">
                                    <form action="index.html">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="Yes">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
<content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="col-md-10 col-lg-offset-2"
                         style="background-color: #f3f3f3; box-shadow: 1px 1px 10px 10px #d7d7d7;">
                        <div class="col-md-12 col-lg-offset-0">
                            <video autoplay src="{{ url_for('static', filename="videos/sava.mp4") }}"
                                   style="width: 100%; height: 300px;"></video>
                            <h3>IP Camera</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10" style="background-color: #f3f3f3; box-shadow: 1px 1px 10px 10px #d7d7d7;">
                        <div class="col-md-12 col-lg-offset-0">

                            <div id="map" style="width: 100%; height: 300px; margin-top: 10px; ">


                            </div>
                            <h3>Your map</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-10 col-lg-offset-4"
                                 style="background-color: #f3f3f3; box-shadow: 1px 1px 10px 10px #d7d7d7;">
                                <div class="col-md-12 col-lg-offset-0">
                                    <div></div>
                                    <h3 align="center">Data history</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-10 col-lg-offset-2"
                                 style="background-color: #f3f3f3; box-shadow: 1px 1px 10px 10px #d7d7d7;">
                                <div class="col-md-12 col-lg-offset-0">
                                    <h3 align="center">Weather Now</h3>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Temperature</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10 " style="background-color: #f3f3f3; box-shadow: 1px 1px 10px 10px #d7d7d7;">
                        <div class="col-md-12 col-lg-offset-0">
                            <h3 align="center">Heating history</h3>
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th>Turn on</th>
                                    <th>Turn of</th>
                                    <th>Duration</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2017.11.12</td>
                                    <td>2017.12.12</td>
                                    <td>24 hours</td>
                                </tr>
                                </tbody>


                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>


<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="">
            <div class="col-md-12 text-center">
                <p>&copy; UDBLAB. All Rights Reserved. <br>Created by <a href=""
                                                                         target="_blank">UdbLab</a>
                    <input id="user_view" value="{{ user_view }}" type="hidden" >

            </div>
        </div>

    </div>
</footer>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.easing.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/magnific-popup.option.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.style.switcher.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
<script src="{{ url_for('static',filename='js/marker.js' ) }}"></script>
<!-- End demo purposes only -->

<!-- Main JS (Do not remove) -->

</body>
</html>

