<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>
<body>
<div id="mailsub" class="notification" align="center">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
        <tr>
            <tab align="center" bgcolor="#eff3f8">


                <table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%"
                       style="max-width: 680px; min-width: 300px;">

                    <!--header -->
                    <tr>
                        <td align="center" bgcolor="#ffffff">
                            <!-- padding -->
                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                <div style="height: 30px; line-height: 30px; font-size: 10px;"></div>
                                <tr>
                                    <td align="center">
                                        <a href="#" target="_blank"
                                           style="color: #596167; font-family: Arial, Helvetica, sans-serif; float:left; width:100%; padding:20px;text-align:center; font-size: 13px;">
                                            <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3"
                                                  color="#596167">
                                                <img src="http://dev.yogabar.sg/web/images/img_logo.png" width="120"
                                                     alt="Metronic" border="0"/></font></a>
                                    </td>
                                    <td align="right">
                                        <div style="height: 50px; line-height: 50px; font-size: 10px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#fbfcfd">
                                        <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center">
                                                    <!-- padding -->
                                                    <div style="height: 60px; line-height: 60px; font-size: 10px;"></div>
                                                    <div style="line-height: 44px;">
                                                        <font face="Arial, Helvetica, sans-serif" size="5"
                                                              color="#57697e" style="font-size: 34px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
						Snow Melting Project Team
					</span></font>
                                                    </div>
                                                    <!-- padding -->
                                                    <div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <div style="line-height: 24px;">
                                                        <font face="Arial, Helvetica, sans-serif" size="4"
                                                              color="#57697e" style="font-size: 15px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
						We will respond your questions as soon as possible,<br> we will keep in touch with you anywhere and anytime.
					</span></font>
                                                    </div>
                                                    <!-- padding -->
                                                    <div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <div style="line-height: 24px;">
                                                        <a href="http://159.203.160.131" target="_blank"
                                                           class="btn btn-danger block-center">
                                                            click
                                                        </a>
                                                    </div>
                                                    <!-- padding -->
                                                    <div style="height: 60px; line-height: 60px; font-size: 10px;"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!--content 1 END-->


                                <!--footer -->
                                <tr>
                                    <td class="iage_footer" align="center" bgcolor="#ffffff">


                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center"
                                                    style="padding:20px;flaot:left;width:100%; text-align:center;">
                                                    <font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5"
                                                          style="font-size: 13px;">
				<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
					2017 © Udblab. ALL Rights Reserved.
				</span></font>
                                                </td>
                                            </tr>
                                        </table>


                                    </td>
                                </tr>
                                <!--footer END-->
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                            </table>
                </table>
            </tab>
        </tr>
    </table>
</div>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

</body>
</html>