<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Snow Melting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FREEHTML5.CO"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" id="theme-switch" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- End demo purposes only -->


    <!-- Modernizr JS -->
    <script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.easing.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.countTo.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/magnific-popup.option.js') }}"></script>
    <script src="{{ url_for('static',filename='js/google_map.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.style.switcher.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>

</head>
<body>
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar"
                   aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="{{ url_for('site.index')  }}">스노우 멜팅</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" data-nav-section="home"><span>홈</span></a></li>
                    <li><a href="#" data-nav-section="services"><span>서비스</span></a></li>
                    <li><a href="#" data-nav-section="about"><span>소개</span></a></li>
                    <li><a href="#" data-nav-section="contact"><span>연락</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>

<section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">우리는 당신의 길을 깨끗하게 만들 것입니다</h1>
                        <h2 class="to-animate">기분을 자유롭게하고 우리와 연결하십시오.<a
                                href="http://#/"></a><br>
                            <a href="#">UdbLab 개발품
                            </a></h2>
                        <p><a href="login.html" class="btn btn-success" style="margin-top: 20px">시작하기</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>

<section id="fh5co-intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
            <div class="fh5co-block to-animate">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-bulb"></i>
                    <h2>계획</h2>
                    <p>이 프로젝트는 겨울 도로 유지 보수 활동 중에 남한의 도로에서 제초기 사용으로 인한 환경 오염 문제를 해결하는 것을 목표로합니다.<br/>.</p>
                    <!--     <p><a href="#" class="btn btn-primary">Get In Touch</a></p> -->
                </div>
            </div>
            <div class="fh5co-block to-animate">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-wrench"></i>
                    <h2>개발</h2>
                    <p>네 가지 프로젝트 "측면"을 강조 할 수 있습니다<br/>
                        기술 개발 수준 <br/>
                        모니터링 수준 <br/>
                        보급 및 인식 수준 <br/>
                        향상 프로젝트 관리 수준</p>
                    <!--      <p><a href="#" class="btn btn-primary">Click Me</a></p> -->
                </div>
            </div>
            <div class="fh5co-block to-animate">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-rocket"></i>
                    <h2>실행</h2>
                    <p>Snow Melting 프로젝트는 자동화 된 시스템으로 현재의 통합 된 방법론을 지원하여 다양한 종류의 데이터를 수집하고 처리하여 사용 가능한 제빙 장치의 사용을 최적화합니다.</p>
                    <!--   <p><a href="#" class="btn btn-primary">Why Us?</a></p> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section id="fh5co-services" data-section="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border to-animate">서비스</h2>
                <div class="row">
                    <div class="col-md-8 subtext to-animate">
                        <h3>우리 고객에게 제공하는 서비스들: </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-anchor"></i>
                <h3>브랜드 및 전략</h3>
                <p>눈 녹이는 사용자가 이용할 수 있는 막대한 양의 도로가 있는 독특한 시스템입니다.
                    이러한 시스템은 우리 팀과 권한이 부여 된 사용자가 관리합니다.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-monitor"></i><i class="icon to animate-2 icon-mobile-phone"></i>
                <h3>웹 &amp; 앱</h3>
                <p>눈 녹이는 시스템을 제어하는 가장 쉬운 방법입니다. 고객은 웹 사이트 및 Android 애플리케이션으로 도로를 완전히 제어 할 수 있습니다. 언제 어디서나...</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-video2"></i>
                <h3>사진 &amp; 영상</h3>
                <p>우리는 또한 IP 카메라를 설정합니다. 시청자가 주변을 완전히 관측 할 수있어 화면을 바라 보는 동안 정신적으로 그 위치에 있다는 느낌을 자극합니다.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-road"></i>
                <h3>도로 아래에 있는 시스템</h3>
                <p>우리는 고객의 도로에 스마트 센서 및 난방 시스템을 설치합니다. 그것은 도로와 날씨의 상태를 알 수있는 기회를 제공합니다.
                    이 외에도 난방 시스템은 사용자가 눈에서 도로를 청소할 수 있도록 도와 줍니다.</p>
            </div>

        </div>
    </div>
</section>

<section id="fh5co-about" data-section="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">소개</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>도로에서 자유롭게 운전하세요</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="fh5co-contact" data-section="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">연락하기</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>우리는 항상 고객을 생각합니다. <b>피드백 및 문의</b> 사항이 있으면 연락하세요.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 to-animate">
                <h3>주소 정보</h3>
                <ul class="fh5co-contact-info">
                    <li class="fh5co-contact-address ">
                        <i class="icon-home"></i>
                        Chungju-si Deahakro 50, <br>Software department
                    </li>
                    <li><i class="icon-phone"></i> (123) 465-6789</li>
                    <li><i class="icon-envelope"></i>udblab@gmail.com</li>
                </ul>
                <div id="success_message">
                </div>
            </div>

            <div class="col-md-6 to-animate">
                <h3>연락</h3>
                <form>
                    <div class="form-group ">
                        <label for="name" class="sr-only">Name</label>
                        <input id="name" class="form-control" placeholder="이름*" type="text">
                    </div>
                    <div class="form-group ">
                        <label for="email" class="sr-only">Email</label>
                        <input id="email" class="form-control" placeholder="메일*" type="email" required>
                    </div>
                    <div class="form-group ">
                        <label for="phone" class="sr-only">Phone</label>
                        <input id="phone" class="form-control" placeholder="전화번호" type="text">
                    </div>
                    <div class="form-group ">
                        <label for="message" class="sr-only">Message</label>
                        <textarea name="" id="message" cols="30" rows="5" class="form-control"
                                  placeholder="내용*"></textarea>
                    </div>
                    <div class="form-group ">
                        <input class="btn btn-primary btn-lg" value="보내기" type="button" id="contact_us_btn">
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>


<footer id="footer" role="contentinfo">
    <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
    <div class="container">
        <div class="">
            <div class="col-md-12 text-center">
                <p>&copy; Snow melting system <br>Created by <a href="" target="_blank">UdbLab</a>
            </div>
        </div>

    </div>
</footer>


<!-- jQuery -->
<!-- End demo purposes only -->

<!-- Main JS (Do not remove) -->

</body>
</html>

