<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Snow Melting login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Modernizr JS -->
    <script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" id="theme-switch" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-left">

            <h2 style="margin-top: 25px; font-color: #52d3aa;">스노우 멜팅</h2>

        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">
                    {{ message }}

                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">


            <!-- Start Sign In Form -->
            <form  class="fh5co-form animate-box" data-animate-effect="fadeIn" method="post">
                <h2>로그인</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input id="email" class="form-control" placeholder="메일" name="email"
                           value="{{ request.form.email }}" type="email" required="required">

                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" class="form-control" value="{{ request.form.password }}"
                           placeholder="패스워드" type="password" name="password"
                           required="required">
                </div>
                <div class="form-group">
                    <label for="remember"><input type="checkbox" id="remember"> 저장하기</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="로그인" class="btn btn-primary">
                </div>
            </form>
            <!-- END Sign In Form -->

        </div>
    </div>

    <div class="row" style="padding-top: 60px; clear: both;">

        {% if error %}
            <div class="alert alert-warning">
               Please enter correct values
            </div>
        {% endif %}

    </div>

    <div class="row" style="padding-top: 60px; clear: both;">
        <div class="col-md-12 text-center">
            <p>
                <small>&copy; All Rights Reserved. Designed by <a><u>UdbLab</u></a></small>
            </p>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Placeholder -->
<script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
<!-- Waypoints -->
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<!-- Main JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>
</html>

