{% extends "admin_layout.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block sidebar %}

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="{{ url_for('site.admin') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('site.admin_users') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Users</a>
            </li>
            <li class="selected">
                <a href="{{ url_for('site.admin_locations') }}"><i class="fa fa-fw fa-table"></i>Locations</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i
                        class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">
            <input id="last_humidity" value="{{ hum }}" type="hidden">
            <input id="last_temperature" value="{{ temp }}" type="hidden">
            <input id="sensor_node_id" value="{{ sensor_node_id }}" type="hidden">

            <div class="row" style="margin-top: 40px;margin-left: 40px;">
                <h3>Heating Controller</h3>
            </div>
            <div id="heating_container" class="row w3-card" style="margin: 80px">

                <div class="btn-group" id="heating_controller_container" style="margin: 10px;">
                    <button id="offBtn" type="button" class="btn btn-info locked_active">OFF</button>
                    <button id="onBtn" type="button" class="btn btn-default unlocked_inactive">ON</button>

                </div>
                <select class="form-control" id="time_value"
                        style="float: right; margin: 10px; width: 100px; alignment: right">
                    <option>10 min</option>
                    <option>20 min</option>
                    <option>30 min</option>
                    <option>40 min</option>
                    <option>50 min</option>
                </select>
                <div class="alert alert-info" style="margin-right: 30px; margin-top: 20px; margin-left: 30px; "
                     id="switch_status">Switched off.
                </div>


            </div>

            <div class="row" style="margin: 50px">
                <h3>Last seen {{ sensor_realesed_time }}</h3>
            </div>
            <div class="row w3-card" style="margin-left: 10px; margin-right: 10px">
                <div class="col-md-4">
                    <div id="hum" style="width:300px; height:280px"></div>
                </div>
                <div class="col-md-4">
                    <div id="temp" style="width:300px; height:280px"></div>
                </div>
                <div class="col-md-4">
                    <div id="pressure" style="width:300px; height:280px"></div>
                </div>

            </div>
            <div class="row" style="margin: 10px">

                <div class="col-md-12">
                    <div class="row">
                        <h3>History on/off table</h3>
                    </div>
                    <div class="w3-table-all w3-centered w3-hoverable ">
                        <table class="table table-bordered table-hover table-striped">
                            <thead align="center">
                            <tr>
                                <th>Start time</th>
                                <th>End time</th>
                                <th>Calculation</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in history_list %}
                                {% set calc_time = item.calculated_time | int %}
                                <tr align="CENTER">
                                    {% set hour = 0 %}
                                    {% set minute = 0 %}
                                    {% set second = 0 %}
                                    <td>{{ item.start_time }}</td>
                                    <td>{{ item.end_time }}</td>
                                    {% if calc_time >3600 %}
                                        {% set hour = (calc_time)/3600 %}
                                        {% set minute = ((calc_time % 3600))/60 |int %}
                                        {% set second =  calc_time%60 %}
                                        <td>{{ hour |int|string +  " hour " + minute |int| string + " min " +second|int|string + " sec" }}</td>
                                    {% elif calc_time | int <3600 and calc_time | int>60 %}
                                        {% set minute = ((calc_time % 3600))/60 |int %}
                                        {% set second =  calc_time%60 %}
                                        <td>{{ minute|int|string + " min  " +second|string + " sec" }}</td>
                                    {% else %}
                                        <td>{{ item.calculated_heating_time }}</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>

                </div>

            </div>

            <div class="row" style="margin: 10px;">
                <h3>Search by date</h3>
                <br>
                <div class="col-md-4">
                    <input class="form-control" name="start_time" id="start_time" placeholder="DD/MM/YY" type="date">

                </div>
                <div class="col-md-4">
                    <input class="form-control" name="end_time" id="end_time" placeholder="DD/MM/YY" type="date">
                </div>

                <div class="col-md-4">
                    <input type="button" onclick="searchBtn()" class="btn btn-primary" value="Search" id="search"
                           name="search">
                </div>
            </div>


            <div class="row" style="margin: 10px;">
                <div id="temp_container" class="col-md-8 w3-card">
                    <h3>Temperature</h3>
                    <canvas id="temp_chart" height="270"></canvas>
                </div>

            </div>
            <div class="row" style="margin: 15px;">
                <div id="hum_container" class="col-md-8 w3-card">
                    <h3>Humidity</h3>
                    <canvas id="hum_chart" height="270"></canvas>
                </div>
            </div>

            <div class="row" style="margin: 10px;">
                <div id="wind_container" class="col-md-8 w3-card">
                    <h3>Wind Speed</h3>
                    <canvas id="wind_chart" height="270"></canvas>
                </div>

            </div>
            <div class="row" style="margin: 15px;">
                <div id="pressure_container" class="col-md-8 w3-card">
                    <h3>Pressure</h3>
                    <canvas id="pressure_chart" height="270"></canvas>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA"
            type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/raphael-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/justgage.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/sensor_node.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/heating_controller.js' ) }}"></script>

{% endblock %}