{% extends 'user_layout.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/user_analysis.js')}}"></script>
    <div class="row">
        <div class="col-md-12">
            <h2 style="padding-left: inherit;">Day details</h2>
{#     Begining of canvas    #}
            <div class="col-md-6">
                <hr style=" border-style: inset;">
                <div class="col-md-6 col-lg-6">
                    <h4>Temperature</h4>
                    <canvas id="myCanvas" width="200" height="150">
                    </canvas>
                </div>
                <div class="col-md-6 col-lg-6">
                    <h4>Humidity</h4>
                    <canvas id="myCanvas1" width="200" height="150">
                    </canvas>
                </div>
                <div class="col-md-6 col-lg-6">
                    <h4>Wind speed</h4>
                    <canvas id="myCanvas2" width="200" height="150">
                    </canvas>
                </div>
                <div class="col-md-6 col-lg-6">
                    <h4>Pressure</h4>
                    <canvas id="myCanvas3" width="200" height="150">
                    </canvas>
                </div>
            </div>
{#    it's the end of canvas head left_side #}
{#            beging of head right_side  #}
            <div class="col-md-6">
                <div class="col-xs-12">
                    <hr style="border-style: inset;">
                    <h4 style=" padding-top: 10px; padding-left: inherit;">Record &emsp;&emsp;&emsp;&emsp;&emsp; Snow</h4>
                    <div style=" margin-top: 50px;"><img style=" margin-left: 35px; ;width: 50px; height: 50px; border-radius: 5px;" src="{{ url_for('static', filename='images/snow1.png') }}">
                    <h4 style="margin: -30px 0px 20px 200px;">sm (<span>0.25</span>)</h4></div>
                </div>
                <div class="col-xs-12" style=" margin-top: 60px;">
                    <h4 style="padding-left: inherit;">Average &emsp;&emsp;&emsp;&emsp;&emsp; Snow</h4>
                    <div style="margin-top: 50px;  "><img style="margin-left: 35px; width: 50px; height: 50px; border-radius: 5px; " src="{{ url_for('static', filename='images/snow2.png') }}">
                    <h4 style="margin: -30px 0px 20px 200px;">sm (<span>0.15</span>)</h4></div>
                </div>
            </div>
{#    end of right_side      #}
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <hr style="border-style: inset;">
                <h4 style="padding-left: inherit;">Temperature</h4>
               <canvas style="padding-left: 150px; " id="myCanvas4" width="250" height="500">
                    </canvas>
            </div>

            <div class="col-md-6">
                <hr style="border-style: inset;">
                <h4 style="padding-left: inherit;">Precipitation</h4><br>
                <p><h4 style="padding-left: inherit;">In the past 10 years
                it was snowed <span><b>3</b></span> times</h4><h4 style="padding-left: inherit;">High similarity of Snowing Low</h4></p>
            </div>
        </div>
    </div>
    {% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

{% endblock %}