{% extends 'user_layout.html' %}
{% block content %}
    <style type="text/css">
       .img{
           padding: 0px;
           margin: 0px;
           background-size: cover;
           height: 300px;
{#           background-image: url('../../static/images/weather.png');#}
           background-repeat: no-repeat;
           color: black;
           width: 100%;
           padding-left: inherit;
           background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 5%,#207cca 6%,#207cca 7%,#207cca 9%,#207cca 12%,#207cca 16%,#207cca 21%,#207cca 30%,#207cca 46%,#207cca 52%,#207cca 58%,#207cca 58%,#207cca 62%,#207cca 70%,#207cca 70%,#7db9e8 91%,#207cca 92%,#207cca 92%,#7db9e8 92%,#7db9e8 92%,#7db9e8 92%);
       }
    </style>
       <div class="row">
       <div class="col-md-12 col-lg-offset-0">
           <div class="col-md-6 col-xs-612">

               <div class="panel panel-primary">
                   <div class="panel-heading">
                       <h3 style="padding-left: inherit;">The last update time: <span class="time"></span></h3>
                   </div>
                   <div class="panel-body">
                       <div class="img">Current place:<h1><span  class="current_city"></span></h1>
                           <div align="center" style="margin-top: 200px; color: #0b0b0b" ><p>Current sky: <span class="sky"></span></p></div>
                       </div>
                   </div>
                   <div class="panel-footer">
                       Current temperature: <span class="temperature"></span>
                       <p>Current humidity: <span class="humidity"></span>%</p>
                       <p>Current wind_speed: <span class="wind_speed"></span></p>
                       <p>Current pressure: <span class="pressure"></span></p>

                   </div>
               </div>
           </div>
           <div  class="col-md-6 col-xs-6">
                   <h4>Ip Camera</h4>
                   <video id="video" src="http://210.119.146.199/webcam" autoplay="autoplay" ></video>
           </div>
       </div>
    </div>


{% endblock %}


{% block extra_js %}
    <script src="{{ url_for('static',filename='js/jquery.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/user_dashboard.js') }}"></script>
{% endblock %}

