<!DOCTYPE html>
<html lang="en">
<head>
    <title>Snow Melting System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/raphael-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/justgage.js' ) }}"></script>


</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<input id="user_view" value="{{ user_view }}" type="hidden">
<input id="sensor_node_id" type="hidden" value="{{ sensor_node_id }}">
<input id="user_id" value="{{ user_id }}" type="hidden">
<input id="location_id" value="{{ location_id }}" type="hidden">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">Snow Melting</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#main">Main</a></li>
                <li><a href="#google_map">Map</a></li>
                <li><a href="#details">Details</a></li>
                <li><a href="#analysis">Analysis</a></li>
                <li><a href="#feedback">Feedback</a></li>
                <li class="dropdown">
                    <a id="user_name" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span class="txt">{{ session['username'] }}</span>
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            {#                           <a><form class="form-profile">#}
                            <input type="hidden" value="{{ user.id }}" name="user_id">
                            <a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-user"></i>
                                Profile</a>
                            {#                            </form>#}
                            {#                             </a>#}
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url_for('site.logout') }}"><i class="glyphicon glyphicon-log-out"></i> Log
                                Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal 1-->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">Change User Password</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="profile" class=" col-md-12">
                        <h3 style="margin: 10px 0 0 0;" align="center">{{ user.username }}</h3><br>
                        <h4 style=" margin: 0px 20px 0px 20px;">
                            <i style="color: #337AB7;" class="glyphicon glyphicon-envelope"></i>
                            <span>{{ user.email }}</span>
                        </h4>
                        <h4 style=" margin: 25px 20px 0px 20px;">
                            <i style="color: #337ab7;" class="glyphicon glyphicon-user"></i>
                            {% if user.isAdmin %}
                                Admin
                            {% else %}
                                General
                            {% endif %}
                        </h4>
                        <div>
                            <input id="user_id" value="{{ user.id }}" type="hidden">
                            <button style="margin: 25px 0 10px 20px;" type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                            <button style="margin: 25px 0 10px 20px;" id="editBtn" type="button"
                                    class="btn btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Modal 1 end-->
<!-- Container (About Section) -->
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="l_time">Last update time: <span class="time"></span></h3><br>
            <div class="col-md-3 w3-card">
                {#                <h4 align="center">Current place: <span class="current_city"></span></h4><br>#}
                {#                <h6>Sky: <span class="sky"></span></h6>#}
                {#                <h6>Temperature: <span class="temperature"></span> &deg;C</h6>#}
                {#                <h6>Humidity: <span class="humidity"></span> %</h6>#}
                {#                <h6>Wind_speed: <span class="wind_speed"></span> m/s</h6>#}
                {#                <h6>Pressure: <span class="pressure"></span> MB<i class="glyphicon glyphicon-arrow-down"></i></h6>#}
                <h4 align="center">Current Condition on the road: <span class="current_city"></span></h4><br>
                <h6 id="temp_road">Temperature: &deg;C</h6>
                <h6 id="hum_road">Humidity: %</h6>
                <h6 id="wind_road">Wind_speed: m/s</h6>
                <canvas id="myControl" width="300" height="110">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
                <div class="col-md-12"><br>
                    <h3>Heating Controller</h3>
                    <div id="heating_container" class="row w3-card">

                        <div class="btn-group" id="heating_controller_container" style="margin: 10px;">
                            <button id="offBtn" type="button" class="btn btn-info locked">OFF</button>
                            <button id="onBtn" type="button" class="btn btn-default unlocked">ON</button>

                        </div>
                        <select class="form-control" id="time_value"
                                style="float: right; margin: 10px; width: 100px; alignment: right">
                            <option>10 min</option>
                            <option>20 min</option>
                            <option>30 min</option>
                            <option>40 min</option>
                            <option>50 min</option>
                        </select>
                        <div class="alert alert-info" style="margin-right: 30px; margin-top: 20px; margin-left: 30px; "
                             id="switch_status">Switched off.
                        </div>


                    </div>

                </div>
            </div>

            <div class="col-md-1"></div>
            <div id="camera_background" class="col-md-8 bg-grey" style=" width: 60%; height: 500px; ;
                background-size: cover;">

                <div id="ip_camera" align="center">
                    <h3 align="center" style="text-align: center">Camera</h3>
                </div>
                <img style=" width: 100%; height: 500px;"  src="http://210.119.146.199:8081">
            </div>

        </div>
    </div>

</div>
<!-- Container (Google Map)  -->
<div id="google_map">
    <h2 style="margin-left: 40px;">Map</h2><br>
    <div id="map" style="height:400px;width:100%; background-color: gainsboro"></div>
</div>
<!-- Container (Details Section) -->
<div id="details" class="container-fluid">
    <div class="row">
        <h2 style="margin-left: -10px;">Details Sensor Node: <span id="node_id"></span></h2>
        <div style="width: 100%;" class="hr"></div>
        <div id="last_seen_container" class="col-md-12 w3-card">
            <div class="col-md-4">
                <div id="hum" style="width:300px; height:280px"></div>
            </div>
            <div class="col-md-4">
                <div id="temp" style="width:300px; height:280px"></div>
            </div>
            <div class="col-md-4">
                <div id="wind_speed" style="width:300px; height:280px"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2>History on/off table</h2>
            </div>
            <div class="w3-table-all w3-centered w3-hoverable ">
                <table class="table table-bordered table-hover table-striped">
                    <thead align="center">
                    <tr>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Calculation</th>
                    </tr>
                    </thead>
                    <tbody id="history_tbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <br>

    <div class="row" style="margin-bottom: 10px;margin-left: 10px;">
        <h3>Search by date</h3>
        <br>
        <div class="col-md-4">
            <input class="form-control" name="start_time" id="start_time" placeholder="DD/MM/YY" type="date">

        </div>
        <div class="col-md-4">
            <input class="form-control" name="end_time" id="end_time" placeholder="DD/MM/YY" type="date">
        </div>

        <div class="col-md-4">
            <input type="button" onclick="searchBtn()" class="btn btn-primary" value="Search" id="search"
                   name="search">
        </div>
    </div>
    <div class="row text-center slideanim">
        <div class="col-md-5 ">
            <h3>Temperature</h3>
            <div id="temp_container" class="w3-card" style="height: 300px;">
                <canvas id="temp_chart"></canvas>
            </div>


        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 ">
            <h3>Humidity</h3>
            <div id="hum_container" class="w3-card" style="height: 300px;">
                <canvas id="hum_chart"></canvas>
            </div>


        </div>
    </div>
    <br>

    <div class="row text-center slideanim">
        <div class="col-md-5 ">
            <h3>Wind Speed</h3>
            <div id="wind_container" class="w3-card" style="height: 300px;">
                <canvas id="wind_chart"></canvas>
            </div>


        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 " style="visibility: hidden">
            <h3>Pressure</h3>
            <div id="pressure_container" class="w3-card" style="height: 300px;">
                <canvas id="pressure_chart"></canvas>
            </div>
        </div>

    </div>
    <br>
</div>

{#<canvas id="myChart" width="400" height="400"></canvas>#}
<div id="analysis" class="container-fluid">
    <h2 style="margin-left: -10px;">Analysis</h2>
    <h4 style="margin-left: -10px;">On this day recent years researches</h4>
    <br>
    <div class="row slideanim">
        <div class="col-md-5 w3-card">
            <div class="col-sm-6">
                <h4>Temperature</h4>
                <canvas id="myCanvas" width="300" height="200"></canvas>
            </div>
            <div class="col-sm-6">
                <h4>Humidity</h4>
                <canvas id="myCanvas1"></canvas>
            </div>
            <div class="col-sm-6">
                <h4>Wind_speed</h4>
                <canvas id="myCanvas2"></canvas>
            </div>
            <div class="col-sm-6">
                <h4>Dew point </h4>
                <canvas id="myCanvas3"></canvas>
            </div>
{#             <div class="col-sm-6">#}
{#                <h4>Pressure <span id="dp_db"></span></h4>#}
{#                <canvas id="myCanvas4"></canvas>#}
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 w3-card">
            <div class="col-sm-6">
                <h4>High &emsp; Snow </h4><br>
                <p><img class="img_snow" src="{{ url_for('static', filename='images/snow1.png') }}"> <span id="high_snow">&emsp;</span>
                </p>
            </div>
            <div class="col-sm-6">
                <h4>Average &emsp; Snow </h4><br>
                <p><img class="img_snow" src="{{ url_for('static', filename='images/snow2.png') }}"> <span id="average_snow">&emsp;</span>
                </p>
            </div>
            <br>
            <div class="col-sm-6">
                <h4>Temperature</h4>
                <h5>Max: <span id="max">54</span>&deg;C</h5>
                <div class="hr"></div>
                <h5>Min: <span id="max">-10</span>&deg;C</h5>
            </div>
            <div class="col-sm-6">
                <h4>Precipitation</h4>
                <p>In the past 10 years <br> it snowed <b><span id="snow_numbers"></span></b> times!!!</p>
            </div>
            <br>
            <div class="col-sm-12" style="margin-top: 10px;">
                <h2 align="center">Advise</h2>
                <p>It would be better if you switch on sensor_node for 20 minutes!!! </p><br><br>

            </div>
        </div>

    </div>
    <br>
</div>
<div id="feedback" class="container-fluid bg-grey">
    <h2 class="text-center">Feedback</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Chungju-si Deahakro 50, <br>Software department</p>
            <p><span class="glyphicon glyphicon-phone"></span> +82 10 44447777</p>
            <p><span class="glyphicon glyphicon-envelope"></span> udblab2017@gmail.com</p>
        </div>
        <div class="col-sm-7 slideanim">

            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" required
                      rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-success pull-right" onclick="feedback()" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p> Made By <a href="" title="Udb_Lab"><b>UdbLab</b></a></p>
</footer>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA"
        type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/models.js' ) }}"></script>
<script src="{{ url_for('static',filename='js/control_diagram.js' ) }}"></script>
<script src="{{ url_for('static',filename='js/heating_controller.js' ) }}"></script>
<script src="{{ url_for('static',filename='js/user_dashboard_load_data.js' ) }}"></script>
<script src="{{ url_for('static',filename='js/marker.js' ) }}"></script>
<script src="{{ url_for('static',filename='js/admin_profile.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/mqtt.js') }}"></script>
<script src="{{ url_for('static',filename='js/user_analysis.js' ) }}"></script>



</body>
</html>