<!DOCTYPE html>
<html lang="en">
<head>
    <title>Snow Melting System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular/angular-cookies.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/user_analysis.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/admin_profile.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/heating_controller.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/mainController.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/mapController.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/detailController.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/analysisController.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/feedbackController.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers/profileController.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/raphael-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/justgage.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/models.js' ) }}"></script>

</head>
<body ng-app="app">
<input id="user_view" value="{{ user_view }}" type="hidden">
<input id="sensor_node_id" type="hidden" value="{{ sensor_node_id }}">
<input id="user_id" value="{{ user_id }}" type="hidden">
<input id="location_id" value="{{ location_id }}" type="hidden">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Snow Melting</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active: isActive('/')}"><a href="#">메인</a></li>
                <li ng-class="{ active: isActive('/map')}"><a href="#!map">지도</a></li>
                <li ng-class="{ active: isActive('/details')}"><a href="#!details">상세</a></li>
                <li ng-class="{ active: isActive('/analysis')}"><a href="#!analysis">분석</a></li>
                <li ng-class="{ active: isActive('/feedback')}"><a href="#!feedback">피드백</a></li>
                <li ng-class="{ active: isActive('/profile')}"><a href="#!profile">프로필</a></li>
                <li><a onclick="log_out()">로그아아웃</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-view></div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">로그아웃</h4>
            </div>
            <div class="modal-body">
                <p>로그아웃 하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">아니요</button>
                <a id="logout" class="btn btn-primary"><i
                        class="glyphicon glyphicon-log-out"></i>네</a>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <p> Made By <a href="" title="Udb_Lab"><b>UdbLab</b></a></p>
</footer>
<script src="{{ url_for('static',filename='js/control_diagram.js' ) }}"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=96bd7b8da76ff4d0354958b242f468e2&libraries=services"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    socket.on('connect', function () {
        console.log("Connected");
        {#        socket.emit('my event', {data: 'I\'m connected!'});#}
    });
    socket.on('connected_client', function (msg) {
        console.log("Testtstsd");
    });

    socket.on("my_response",function (msg) {
        console.log("Yesdsdsd")
    })

</script>
</body>
</html>