{% extends 'user_layout.html' %}
{% block content %}
            <input id="user_view" value="{{ user_view }}" type="hidden">
            <input id="location_id" value="{{ location_id }}" type="hidden">

            <div class="row" style="margin-left: 10px">
                <div class="col-md-6">
                    <div class="row">
                        <div>
                            <h4>Average Temperature</h4>
                            <canvas id="temp_chart" width="600" height="270"></canvas>
                        </div>

                        <div>
                             <h4>Average Humidity</h4>
                            <canvas id="hum_chart" width="600" height="270"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div id="map" style="width: 100%; height: 600px; margin-top: 10px; "></div>

                </div>

            </div>


{% endblock %}

{% block extra_js %}
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA"
            type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/marker.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/location_chart.js') }}"></script>

{% endblock %}
