<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/morris.css') }}">
     <script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>

    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('site.user_dashboard') }}">SM User</a>
    </div>
    <!-- Top Menu Items -->

    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a id="user_name" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <span class="txt">{{ session['username'] }}</span>
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ url_for('site.user_profile') }}"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ url_for('site.logout') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li id="side_dashboard">
                <a href="{{ url_for('site.user_dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li id="side_details">
                <a href="{{ url_for('site.user_details') }}"><i class="fa fa-fw fa-users"></i> Details</a>
            </li>
            <li id="side_view">
                <a href="{{ url_for('site.user_view') }}"><i class="fa fa-fw fa-map-marker"></i>View</a>
            </li>
            <li id="side_analysis">
                <a href="{{ url_for('site.user_analysis') }}"><i class="fa fa-fw fa-edit"></i>Analysis</a>
            </li>
        </ul>
    </div>

    <!-- /.navbar-collapse -->
</nav>



<div id="wrapper">
    <div id="page-wrapper">
      {% block content %}

      {% endblock %}
    </div>
</div>




<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/morris/raphael.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/morris/morris.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/morris/morris-data.js') }}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>