{% extends 'admin_layout.html' %}
{% block sidebar %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="{{ url_for('site.admin') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="selected">
                <a href="{{ url_for('site.admin_users') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Users</a>
            </li>
            <li>
                <a href="{{ url_for('site.admin_locations') }}"><i class="fa fa-fw fa-table"></i>Locations</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i
                        class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block head_javascript %}
    <script>
        var i = 0;
        function addAddress() {
            if (i < 1) {
                i++;
                var div = document.createElement('div');
                div.setAttribute('id', "address_" + i)
                div.innerHTML = '<label>Address ' + i + ' </label><input type="text" class="form-control" style="width:400px" name="address_' + i + '" >  <button type="button" style="margin: 10px" id="add_sensor_' + i + '" class="btn btn-info" onClick="addSensorNode()" >Add sensor</button>   <button type="button" class="btn btn-danger" style="margin: 10px" onclick="removeAddress(this)">Remove address</button>';

                document.getElementById('addresses').appendChild(div);

            }
        }

        function removeAddress(div) {
            document.getElementById('addresses').removeChild(div.parentNode);
            i--;

        }


        var j = 0;
        function addSensor() {
            var j = document.getElementById('sensor_')
            if (j < 4) {

                j++;
                var div = document.createElement('div');
                var sensor = document.getElementById("firstname" + j).value;
                console.log(sensor.latitude)
                div.className = "panel panel-warning"
                div.style.margin = 30 + "px"
                div.style.width = 450 + "px"
                div.setAttribute('id', "sensor_" + j)
                div.innerHTML = '<div class="panel-heading">Senosr ' + sensor.latitude + '</div><div class="panel-body"><label>Latitide</label> <input type="text" class="form-control" style = "width:400px" name = "latitude_' + j + '" value="' + sensor.latitude + '"><label>Longitude</label><input type="text" class="form-control" style = "width:400px" name = "longitude_' + j + '"><label>Sensor type</label><select class="form-control" id="sensor_type_' + j + '" style="width:400px" name="sensor_type_' + j + '"> <option>Temperature</option><option>Humidity</option><option>Pressure</option><option>Wind Speed</option> </select> <button type="button" class="btn btn-danger" style="margin: 10px" onclick="removeSensor(this)">Remove sensor_' + j + '</button></div>'

                document.getElementById('addresses').children[0].appendChild(div)

            }
        }
        function removeSensor(div) {
            var sensor = document.getElementById('addresses').children[0].children['sensor_' + j];
            sensor.parentNode.removeChild(sensor)
            j--;
        }

        $(document).ready(function () {
            $("#addresses").find("#add_sensor").click(function () {
                alert("heyy")
            })
        })


    </script>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="page-wrapper">
            <h2>User <b>{{ user.username }}</b></h2>
            <form style="padding: 50px" id="user_details" action="{{ url_for('site.admin') }}" method="post">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" style="width: 400px" id="username"
                           placeholder="Username" value={{ user.username }}>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" style="width: 400px" id="email"
                           placeholder="Email"
                           value={{ user.email }}>
                </div>

                <div class="form-group">
                    <label for="user_role">User Role</label>
                    <select class="form-control" id="user_role" style="width: 400px" name="user_role">
                        {% if user.isAdmin %}
                            <option selected="selected">Super User</option>
                            <option>General User</option>
                        {% else %}
                            <option selected="selected">General User</option>
                            <option>Super User</option>
                        {% endif %}

                    </select>
                </div>

                {% for location in user.locations %}

                    <div id="addresses" class="form-group">

                        <div id="address_{{ loop.index }}">
                            <label>Address {{ loop.index }} </label>
                            <input type="text" class="form-control" style="width:400px" value="{{ location.address }}"
                                   name="address_{{ loop.index }}">
                            <button type="button" style="margin: 10px" id="add_sensor"
                                    class="btn btn-info"
                            >Add sensor
                            </button>
                            <button type="button" class="btn btn-danger" style="margin: 10px"
                                    onclick="removeAddress(this)">
                                Remove address
                            </button>


                        </div>
                        {% set sensor_count = 1 %}
                        {% for sensor in location.sensors %}
                            {% if  loop.last %}
                                <input id="sensor_count" value="{{ loop.index }}" type="hidden">
                            {% endif %}
                            {% set sensor_count = sensor_count + 1 %}
                            <div class="panel panel-warning" style="margin: 30px;width: 450px"
                                 id="sensor_{{ loop.index }}">
                                <div class="panel-heading">Sensor {{ loop.index }} </div>
                                <div class="panel-body">
                                    <label>Latitide</label>
                                    <input type="text" class="form-control" style="width:400px"
                                           name="latitude_{{ loop.index }}"
                                           value=" {{ sensor.latitude }}">
                                    <label>Longitude</label>
                                    <input type="text" class="form-control" style="width:400px"
                                           name="longitude_{{ loop.index }}" value="{{ sensor.longitude }}">
                                    <label>Sensor type</label>
                                    <select class="form-control" id="sensor_type_{{ loop.index }}" style="width:400px"
                                            name="sensor_type_{{ loop.index }}">
                                        <option>{{ sensor.get_sensor_type(sensor.sensor_type) }}</option>
                                        <option>Temperature</option>
                                        <option>Humidity</option>
                                        <option>Pressure</option>
                                        <option>Wind Speed</option>
                                    </select>
                                    <button type="button" class="btn btn-danger" style="margin: 10px"
                                            onclick="removeSensor(this)">
                                        Remove sensor_ {{ loop.index }}
                                    </button>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                {% endfor %}


            </form>
        </div>

    </div>

    {% block extra_js %}
        <script type="text/javascript">
            $(document).ready(function () {
                var i = $("#sensor_count").val()
                if (i >= 4) {
                    $('#add_sensor').hide()
                }

                var j = $("#sensor_count").val()
                $("#add_sensor").click(function () {
                    if (j < 4) {
                        j++;
                        var div = document.createElement('div');
                        div.className = "panel panel-warning"
                        div.style.margin = 30 + "px"
                        div.style.width = 450 + "px"
                        div.setAttribute('id', "sensor_" + j)
                        // div.style.background='yellow'
                        div.innerHTML = '<div class="panel-heading">Senosr ' + j + '</div><div class="panel-body"><label>Latitide</label> <input type="text" class="form-control" style = "width:400px" name = "latitude_' + j + '" value="' + j + '"><label>Longitude</label><input type="text" class="form-control" style = "width:400px" name = "longitude_' + j + '"><label>Sensor type</label><select class="form-control" id="sensor_type_' + j + '" style="width:400px" name="sensor_type_' + j + '"> <option>Temperature</option><option>Humidity</option><option>Pressure</option><option>Wind Speed</option> </select> <button type="button" class="btn btn-danger" style="margin: 10px" onclick="removeSensor(this)">Remove sensor_' + j + '</button></div>'

                        document.getElementById('addresses').children[0].appendChild(div)
                        if (j >= 4) {
                            $('#add_sensor').hide()
                        }


                    }
                })
            })
        </script>
    {% endblock %}
{% endblock %}