{% extends 'user_layout.html' %}
{% block content %}
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyC_m6Yj9X8ain5tMsBxQuOIY9q0aqZQ4XA"
            type="text/javascript"></script>

    <div class="row">
            <div class="col-md-12 col-lg-offset-0" style="background-color: #f3f3f3;">
                    <div id="map" style="width: 100%; height: 300px; margin-top: 10px; ">
                        <input id="user_view" value="{{ user_view }}" type="hidden" >
                    </div>
                    <h3>Your map</h3>
            </div>
    </div>


{% endblock %}


{% block extra_js %}
    <script src="{{ url_for('static',filename='js/jquery.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='js/marker.js' ) }}"></script>
{% endblock %}

