<div id="analysis" class="container-fluid">
    <h2 style="margin-left: -10px;">분석</h2>
    <h4 style="margin-left: -10px;">오에 대한 최근 몇 년 동안 연구</h4>
    <br>
    <div class="row">
        <div class="col-md-5 w3-card">
            <div class="row">
                <div class="col-sm-6">
                    <h4>온도 : [[temp]] &deg;C</h4>
                </div>
                <div class="col-sm-6">
                    <h4>습도 : [[hum]] %</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4>바랍 속도 : [[wind_speed]] m/s</h4>
                </div>
                <div class="col-sm-6">
                    <h4>이슬점 : [[dp]] </h4>
                </div>
            </div>


        </div>

        <div class="col-md-2"></div>
        <div class="col-md-5 w3-card">
            <div class="col-sm-6">
                <h4>최대 &emsp; 눈 </h4><br>
                <p><img class="img_snow" src="/static/images/snow1.png"> <span
                        id="high_snow">&emsp;</span>
                </p>
            </div>
            <div class="col-sm-6">
                <h4>평균 &emsp; 눈 </h4><br>
                <p><img class="img_snow" src="/static/images/snow2.png"> <span
                        id="average_snow">&emsp;</span>
                </p>
            </div>
            <br>
            <div class="col-sm-6">
                <h4>온도</h4>
                <h5>최대: <span id="max">54</span>&deg;C</h5>
                <div class="hr"></div>
                <h5>최소: <span id="max">-10</span>&deg;C</h5>
            </div>
            <div class="col-sm-6">
                <h4>예측</h4>
                <p>지난 10년 안에 <br><b><span id="snow_numbers"></span></b>번 눈이 왔습니다!!!</p>
            </div>
            <br>

        </div>

    </div>