<div id="details" class="container-fluid">
    <div class="row">
        <h2 style="margin-left: -10px;">센서 노드 상세 값: <span id="node_id"></span></h2>
        <div style="width: 100%;" class="hr"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2>켰다-끄기 기록 표 </h2>
            </div>
            <div class="w3-table-all w3-centered w3-hoverable ">
                <table class="table table-bordered table-hover table-striped">
                    <thead align="center">
                    <tr>
                        <th>시작 시간</th>
                        <th>종료</th>
                        <th>총</th>
                    </tr>
                    </thead>
                    <tbody id="history_tbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <br>

    <div class="row" style="margin-bottom: 10px;margin-left: 10px;" ng-init="load_data()" >
        <h3> 날짜별로 검색</h3>
        <br>
        <div class="col-md-4">
            <input class="form-control" value="[[start_time]]" name="start_time" id="start_time" placeholder="DD/MM/YY" type="date">

        </div>
        <div class="col-md-4">
            <input class="form-control" value="[[end_time]]" name="end_time" id="end_time" placeholder="DD/MM/YY" type="date">
        </div>

        <div class="col-md-4">
            <button ng-click="load_data()" class="btn btn-primary" id="search"
                    name="search">검색</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-5 ">
            <h3>온도</h3>
            <div id="temp_container" class="w3-card" style="height: 300px;">
                <canvas id="temp_chart"></canvas>
            </div>


        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 ">
            <h3>습도</h3>
            <div id="hum_container" class="w3-card" style="height: 300px;">
                <canvas id="hum_chart"></canvas>
            </div>


        </div>
    </div>
    <br>

    <div class="row text-center ">
        <div class="col-md-5 ">
            <h3>바람 속도</h3>
            <div id="wind_container" class="w3-card" style="height: 300px;">
                <canvas id="wind_chart"></canvas>
            </div>


        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 " style="visibility: hidden">
            <h3>Pressure</h3>
            <div id="pressure_container" class="w3-card" style="height: 300px;">
                <canvas id="pressure_chart"></canvas>
            </div>
        </div>

    </div>
    <br>
</div>
