<div id="feedback" class="container-fluid bg-grey">
    <h2 class="text-center">피드백</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>연락을 주시면 24 시간 이내에 연락 드리겠습니다.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Chungju-si Deahakro 50, <br>Software department</p>
            <p><span class="glyphicon glyphicon-phone"></span> +82 10 44447777</p>
            <p><span class="glyphicon glyphicon-envelope"></span> udblab2017@gmail.com</p>
        </div>
        <div class="col-sm-7">

            <textarea class="form-control" ng-model="comment" id="comments" name="comments" placeholder="내용"
                      required
                      rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button  class="btn btn-success pull-right" ng-click="send_feedback()"
                            type="submit">
                        보내기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
