<div class="row">
    <div class="col-md-12">
        <div id="connected_IO" class="alert alert-success" style="visibility: hidden">
            <strong id="warning"></strong><h5 id="io_address">Indicates a successful or positive action.</h5>
        </div>
        <h3 class="l_time">마지막 업데이트 시간: <span class="time"></span></h3><br>
        <div class="col-md-3 w3-card">
            <h4 align="center">도로의 현재 상태: <span class="current_city"></span></h4><br>
            <h6 id="temp_road">온도: [[temp]] &deg;C</h6>
            <h6 id="hum_road">습도: [[humidity]] %</h6>
            <h6 id="wind_road">바랍 속도: [[wind_speed]] m/s</h6>
            <canvas id="myControl" width="300" height="110">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
            <div class="col-md-12"><br>
                <h3>가열 조절기</h3>
                <div id="heating_container" class="row w3-card">

                    <div class="btn-group" id="heating_controller_container" style="margin: 10px;">
                        <button id="offBtn" type="button" class="btn btn-info locked">OFF</button>
                        <button id="onBtn" type="button" class="btn btn-default unlocked">ON</button>

                    </div>
                    <select class="form-control" id="time_value"
                            style="float: right; margin: 10px; width: 100px; alignment: right">
                        <option>10 min</option>
                        <option>20 min</option>
                        <option>30 min</option>
                        <option>40 min</option>
                        <option>50 min</option>
                    </select>
                    <div class="alert alert-info" style="margin-right: 30px; margin-top: 20px; margin-left: 30px; "
                         id="switch_status">꺼져 있음
                    </div>


                </div>

            </div>
        </div>

        <div class="col-md-1"></div>
        <div id="camera_background" class="col-md-8 bg-grey" style=" width: 60%; height: 500px; ;
                background-size: cover;">

            <div id="ip_camera" align="center">
                <h3 align="center" style="text-align: center">영상</h3>
            </div>
            <img style=" width: 100%; height: 500px;" src="http://210.119.146.199:8081">
        </div>

        <div class="col-md-12 col-lg-6" style="margin-top: 50px;">
           <br> <textarea class="form-control" rows="5" id="eventi_websocket">

            </textarea>
        </div>
    </div>

</div>
<div class="row" style="margin-top: 30px">
    <h2 style="margin-left: -10px;">최근 값</h2>
    <div style="width: 100%;" class="hr"></div>
    <div id="last_seen_container" class="col-md-12 w3-card">
        <div class="col-md-4">
            <div id="hum" style="width:300px; height:280px"></div>
        </div>
        <div class="col-md-4">
            <div id="temp" style="width:300px; height:280px"></div>
        </div>
        <div class="col-md-4">
            <div id="wind_speed" style="width:300px; height:280px"></div>
        </div>
    </div>
</div>
