<div class="container-fluid">
<div id="google_map" class="row">
    <h2 style="margin-left: 40px;">지도</h2><br>
    <div id="map" style="height:400px;width:100%; background-color: gainsboro"></div>
</div>
</div>
