<div class="container-fluid">
    <div class="row" ng-init="user_load()">
        <h3 class="modal-title" id="myModalLabel">비밀번호 바꾸기</h3>
        <div class="modal-body">
            <div id="profile" class="row">
                <div id="profile" class=" col-md-12">
                    <h3 style="margin: 10px 0 0 0;" align="center">[[ user.username ]]</h3><br>
                    <h4 style=" margin: 0px 20px 0px 20px;">
                        <i style="color: #337AB7;" class="glyphicon glyphicon-envelope"></i>
                        <span>[[ user.email ]]</span>
                    </h4>
                    <h4 style=" margin: 0px 20px 0px 20px;">
                        <i style="color: #337AB7;" class="glyphicon glyphicon-user"></i>
                        <span ng-if="user.isAdmin">관리자</span>
                        <span ng-if="!user.isAdmin">일반 사용자</span>
                    </h4>

                    <div id="password_change_container">
                        <input id="user_id" value="{{ user.id }}" type="hidden">
                        <button style="margin: 25px 0 10px 20px;" id="editBtn" type="button"
                                class="btn btn-primary" onclick="editBtn()" >
                            비밀번호 바꾸기
                        </button>

                </div>
            </div>
        </div>
    </div>
</div>