body {
    font-family: 'Roboto', Regular, sans-serif;
    line-height: 1.8;
    color: #191919;
    background-color: #f8f8f8;
}

h2,h3 {
    font-family: 'Roboto', Regular, sans-serif;
    font-size: 24px;
    color: #010101;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-family: 'Roboto', Regular, sans-serif;
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
h4.l_time{
    font-family: 'Roboto', Regular, sans-serif;
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
}
h5, h6{
    font-family: 'Roboto', Regular, sans-serif;
    font-size: 16px;
    color: #303030;
    font-weight: 300;
    margin-bottom: 20px;
}
h6{
    padding: 5px 0px;
}
.hr{
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 0px;
    margin-right: 0px;
    border-style: inset ;
    border-width: 1px;
    width: 100%;
}
.img_snow{
    width: 50px;
    height: 50px;
    margin: auto;
}
.w3-card{
    background-color: #ffffff;
}
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #337ab7;
    font-size: 20px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #337ab7;
}

.carousel-indicators li {
    border-color: #337ab7;
}

.carousel-indicators li.active {
    background-color: #337ab7;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #337ab7;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #337ab7;
    background-color: #fff !important;
    color: #337ab7;
}

.panel-heading {
    color: #ffffff !important;
    background-color: #337ab7;
!important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #337ab7;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #337ab7;
    z-index: 1;
    border: 0;
    font-size: 15px !important;
    line-height: 1.5 !important;
    letter-spacing: 2px;
    font-family: 'Roboto', Regular, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-family: 'Roboto', Regular, sans-serif;
}
.navbar-brand{
    font-size: 25px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #286090 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
ul.dropdown-menu li>a {
    color: #337AB7 !important;
    background-color: #ffffff !important;
}
ul.dropdown-menu li>a:hover {
    color: #286090 !important;
    background-color: #ffffff !important;
}
ul>li.dropdown{
    color: #ffffff !important;
    background-color: #337ab7 !important;
}
ul>li.dropdown a.dropdown-toggle:active{
    color: #ffffff !important;
    background-color: #286090 !important;
}

.modal-dialog{
    /*position: relative;*/
    margin-top: -10px;
    display: table;
    margin-left: 40%;
    /*overflow-y: auto;*/
    /*overflow-x: auto;*/
    max-width: 400px;
    min-width: 300px;
    overflow: hidden;
    position: fixed;
}
.form-profile{
    padding-left: 20px;
    text-align: inherit;
    width: 100%;
    font-size: 15px;
    height: auto;
    display: block;
    word-spacing: 2px;
    letter-spacing: 2px;
    background-color: #ffffff;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #337ab7;
}

.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 480px) {

}

